.dFlex{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.cart-img{
    max-width: 100%;
    height: auto;
  }
.cart-summary{
    background-color: rgb(190, 195, 199);
}
.basket-area{
    /* color: blue; */
    background-color: rgba(59, 113, 202, 0.4);

}

@media screen and (max-width: 780px){
    .cart-img{
        max-width: 60%;
        height: auto;
      }
}

